AI_SERVICE_SECRET=8c361a305f40bfc53b165b41c274b00fdba004445e8473bc0e04da8d0093aca4
HEAR_BACKEND_URL= https://jury-fireplace-preservation-shortly.trycloudflare.com
HEAR_CALLBACK_URL= https://jury-fireplace-preservation-shortly.trycloudflare.com/api/v1/internal/ai-callback

WHISPER_MODEL_SIZE=large-v3
DEMUCS_MODEL=htdemucs
MODEL_CACHE_DIR=/opt/ml/models

MAX_CONCURRENT_GPU_JOBS=2
SQLITE_DB_PATH=./data/jobs.db

B2_KEY_ID=0058fd708f216270000000001
B2_APPLICATION_KEY=K0052yJLs2inzSi0aMnD5Cioewme8xo
B2_BUCKET_NAME=hear-dev-uploads
B2_ENDPOINT_URL=https://s3.us-east-005.backblazeb2.com
B2_ENHANCED_PREFIX=enhanced/

CATEGORIES_FILE=./data/categories.txt

OPENAI_API_KEY=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
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o-mini

SENTRY_DSN=https://524e4bd869b9cba077fab7320f9d8abd@o4511076317855744.ingest.de.sentry.io/4511226435731536
SENTRY_TRACES_SAMPLE_RATE=0.3
ENVIRONMENT=production
ENABLE_DOCS=true
